<div class="game-wrapper">
    <div class="game" *ngIf="cards.length;else noSelectedGame" >
        

    <header class="game-header">
        <div class="header-item">
            <h3 class="game-icon">{{game.icon}}</h3>
       </div>
       <div class="header-item">
            <h4>Moves: {{moves}}</h4>
       </div>
       <div class="header-item">
            <h4>{{displayTimer()}}</h4>
       </div>
       <div class="header-item">
            <button mat-mini-fab (click)="playAgain()" >
                <mat-icon>replay</mat-icon>
            </button>
        </div>
    </header>



        <mat-grid-list  [cols]="cols" rowHeight="1:1" gutterSize="16" >
            <mat-grid-tile @shrinkOut [disabled]="card.state=='matched'"  [ngClass]="{
                'show':card.state=='show', 
                'matched':card.state=='matched',
                'no-matched':card.state=='no-matched'}"
                (click)="displayCard(i, $event)"
                *ngFor="let card of cards;let i = index">{{card.type}}
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <ng-template #noSelectedGame>
        
        <mat-card class="no-game">
            <h1>Memoji Game</h1>
            <button mat-raised-button (click)="openGamesDialog()"><mat-icon>sports_esports</mat-icon>Play Now</button>
        </mat-card>
    </ng-template>

</div>
